.distill-site-header {
  --title-size:       18px;    
  --text-color:       #ffffff; /* edited */
  --text-size:        15px;
  --1hover-color:      #dd424c; /* edited */
  --1bkgd-color:       #ffd8db; /* edited */
}
